﻿@page
<div style="margin-top:100px;margin-bottom:100px;" class="container">
    <div class="row">&nbsp;</div>
    <div class="form-group">
        <label>ID:</label>
        <input class="form-control" type="text" id="idInput" />
    </div>
    <div class="form-group">
        <label>Name:</label>
        <input class="form-control" type="text" id="userInput" />
    </div>
    <div class="form-group">
        <label>Message:</label>
        <input class="form-control" type="text" id="messageInput" />
    </div>
            <input class="btn btn-primary" type="button" id="sendButton" value="Send Message" />
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/comment.js"></script>