﻿<div class="container p-0">
    <div class="jumbotron">
        <h1>Fox-news</h1>
        <a class="btn btn-lg btn-primary" asp-controller="Home" asp-action="News" role="button">Show news!</a>
    </div>
</div>

