﻿@model List<NewsAPIProject.Models.News>

<div class="container" style="margin-top:100px;margin-bottom:100px;">
    <div class="row">
        @foreach (NewsAPIProject.Models.News n in Model)
        {
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                <div style="height:800px;" class="card" data-id="@n.id">
                    <img class="card-img-top" src="@n.urlToImage">
                    <div class="card-body">
                        <h4 class="card-title">@n.title</h4>
                        <p class="card-text">@n.description</p>
                        <a href="@n.url">Link to newspage.</a>
                        <a class="card-text">Written by: @n.author. (ID: @n.id)</a>
                        <a style="position:absolute;bottom:0;width:100%;left:0;" asp-controller="Home" asp-action="Comment" class="btn btn-primary">Add comment</a>
                    </div>
                </div>
            </div>
        }
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-4">
            <div class="card">
                 <div class="card-body">
                     <div class="card-title">
                         <h4>Comments section</h4>
                         <hr />
                     </div>
            <div class="card-text" id="messagesList"></div>
                </div>
        </div>
    </div>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/commentsToMessageList.js"></script>